* {
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.search-bar {
  width: 80%;
  margin: 0 auto;
  height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.search-bar img {
  width: 30px;
  object-fit: contain;
  margin: 0;
  margin-left: 10px;
}

.search-bar input {
  width: 80%;
  height: 80%;
  font-size: 60px;
  margin: 0;
  margin-left: 15px;
  border: none;

}

.search-bar input:focus {
  outline: none;

}

.coin-list {
  margin: 0;
  padding: 0;
}

.coin {
  display: flex;
  width: 80%;
  padding: 10px;
  margin: 25px auto;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #dad7d7;
  text-decoration: none;
  color: black
}

.coin-info {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-clear {
  border: 1px solid rgb(239, 239, 239);
  color: black;
  border-radius: 4px;
  background: transparent;
  padding: 5px 10px;
  margin-left: 20px;
  font-size: inherit;
  cursor: pointer;
  transition: 0.5s all ease;
}

.btn-clear:hover {
  background-color: cadetblue;
}


.btn-clear.active {
  background-color: cadetblue;
}


.coin-price {
  margin: 0;
  margin-left: 50px;
}

.coin img {
  width: 50px;
  height: auto;
  margin: 0;
}